# Ignore Visual Studio Code settings
#.vscode/

*.apk
*.aab
#*.zip

# Ignore Visual Studio files
#*.suo
#*.lock
#*.ide

# Ignore Unity files
#*.tga
#*.anim
#*.asset
#*.png
#*.wav
#*.FBX
#*.psd
#*.unity
#*.bmp
#*.jpg
#*.tif
#*.pdf
#*.cubemap
#*.rtf

# Ignore generic 3D model files
#*.fbx

# Ignore any file with a .lock extension
#*.lock


# Ignore Unity Library folder
Library/
.vs/
Temp/

Find The Colors/Apk/64_Bit/FindTheColorForKids_VC_4_VN_1_1-1.1-v4.symbols.zip
Find The Colors/Apk/64_Bit/FindTheColorForKids_VC_5_VN_1.1.1-1.1.1-v5.symbols.zip
Find The Colors/Apk/64_Bit/FindTheColorForKids_VC_6_VN_1.1.2-1.1.2-v6.symbols.zip
